*{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.7em;
    box-sizing: border-box;
}

html{
    margin-top: 3em;
    font-size: 14px;
    background: url('images/mosaic.jpg') no-repeat center center fixed; 
    background-size: cover;
}

body{
    display: grid;
    grid-template-rows: 1fr 7fr;
    max-width: 70vw;
    min-width: 150px;
    margin: 2vw;
    margin-top: 0;
    padding: 1em;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #D9A491;
}

nav a{
    color: white;
    margin: .5em 2em;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em;
}

section{
    background-color: #D9A491;
    border: 2px solid black;
    min-width: .5vw;
    color: black;
    padding: 1em;
}

header{
    padding: 2em;
}

h1{
    padding-left: 10px;
    margin: auto;
    font-size: 6em;
    color: #A66556;
    font-weight: 1000;
    font-variant: petite-caps;
    letter-spacing: 7px;
}

h2{
    margin-bottom: 0;
    margin-top: 0;
    color: #A66556;
    letter-spacing: 2px;
}

h3{
    margin: 0;
    color: #A66556;
    letter-spacing: 2px;
}


article{
    min-width: .5vw;
    max-width: 100%;
}

#aboutMe{
    text-align: left;
    margin: 0;
}

#aboutMe img{
    margin-right: 1em;
    height: 300px;
    float: left;
}

#aboutMe p{
    margin: 0;
}

#skillsList{
    margin: 0;
}

#skillsList p{
    width: 100%;
    text-align: left;
}

#skillsList li{
    list-style: none;
    letter-spacing: 1px;
}

#skillsList ul{
    padding: 0;
}


#myProjects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#myProjects article{
    border: 2px solid black;
    padding: 1em;
    margin-top: 0;
    text-align: center;
}

#myProjects article p{
    font-size: 12px;
    margin: 0;
    text-align: center;
    line-height: 1em;
}

#myProjects img{
    width: 150px;
    max-width: 15vw;
    height: autopx;
    padding: .5em;
    align-content: center;
}

.projectHeader{
    grid-column: 1 / -1;
    margin-top: 0;
}


#contactMe{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 100%;
}

button{
    padding: 0;
    margin: 0;
    background: none;
    font-size: 3em;
    border: none;
}

button:hover{
    color: white;
}

footer{
    margin: .5em 2em;
}