*{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.4em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

header{
    margin-left: 2em;
}
header h1{
    font-size: 6.5em;
    color:#F9EEEA;
}

header span{
    font-size: 2.5em;
    color: #F9EEEA;
}

h2{
    color: #F9EEEA;
}
h3{
    color: #F9EEEA;
}

main,
footer{
    margin: 0 auto;
    max-width: 700px;
    color: #F9EEEA;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a{
    padding: .5em 2em;
    text-decoration: none;
    color: #F9EEEA;
    
}

nav a:hover{
    text-decoration: underline;
}

section{
    margin: 1em o;
    padding-top: 3em;
    min-height: 20em;
}

#bioContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bioContainer img{
    padding: 20px;
    width: 40%;
    float: left;
    border-radius: 50%;
}

#skillsList{
    padding-top: 2em;
    margin-top: 1em;
}

#skillsList ul{
    padding-top: 1em;
    text-align: center;
    font-size: 1.5em;
    color: #333;
}



section > p{
    margin: 1em, 0;
}

section ul{
    list-style: none;
}

#myProjects{
    margin-top: 1em;
}

#projectsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

#projectsContainer article{
    background:#666;
    padding: 1em;
}

#projectsContainer article img{
    width: 100%;
    border: 1px solid #F9EEEA;
}