*{
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
}

html{
    margin-top: 3em;
    font-size: 14px;
    background: url('images/mosaic.jpg') no-repeat center center fixed; 
    background-size: cover;
}

body{
    display: grid;
    grid-template-rows: 1fr 8fr;
    max-width: 70vw;
    min-width: 150px;
    margin: 2vw;
    padding: 1em;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #D9A491;
}

nav a{
    color: white;
    margin: .5em 2em;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

section{
    background-color: #D9A491;
    border: 2px solid black;
    margin: 2em;
    padding: 1em;
    min-width: .5vw;
    color: black;
}

article{
    min-width: .5vw;
    max-width: 100%;
}

#skillsList{
    width: 100%;
}

#myProjects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#myProjects article{
    border: 2px solid black;
    padding: .4em;
    margin-top: 0;
    text-align: center;
}

#myProjects article p{
    font-size: 12px;
    margin: 0;
    text-align: left;
    line-height: 1em;
}

#myProjects img{
    width: 150px;
    height: 150px;
    
    align-content: center;
}

.projectHeader{
    grid-column: 1 / -1;
    margin-top: 0;
    
}

header{
    justify-items: center;
    padding: 1em;
}

h1{
    padding-left: 10px;
    margin: auto;
    font-size: 5em;
    color: #A66556;
    font-weight: 800;
    font-variant: petite-caps;
}

span h2{
    padding-left: 14px;
    margin: auto;    
    color: #A66556;
    font-weight: 800;
}

h2{
    margin-bottom: 0;
    margin-top: 0;
    color: #A66556;
}

h3{
    margin: 0;
    color: #A66556;
}

#contactMe{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    justify-items: center;

    width: 100%;
}

button{
    padding: 0;
    margin: 0;
    background: none;
    font-size: 3em;
    border: none;
}

button:hover{
    color: white;
}